<table style="font-size:0.9em; margin-top:15px; margin-left:5px;"><tr>
	<td style="white-space:nowrap; vertical-align:text-top;"><b>Problem:</b></td>
	<td width="100%">Driver installation failed</td>
</tr></table>
<br>
<b style="font-size:0.9em; margin-left:5px;">Possible Solutions:</b>
<ul class="palm-body-text" style="margin-top:6px;">
	<li>If an older version of novacom is already installed, uninstall it.<br>&nbsp;</li>
	<li>Restart your computer, then try letting WOSQI install the drivers again<br>&nbsp;</li>
	<li>Try manually installing the driver. You can download it from <span id="windows">http://bit.ly/wosqi-driver-win32 for 32-bit computers or http://bit.ly/wosqi-driver-win64 for 64-bit computers.</span><span id="mac">http://bit.ly/wosqi-driver-mac</span><span id="ubuntu">http://bit.ly/wosqi-driver-linux32 for 32-bit computers or http://bit.ly/wosqi-driver-linux64 for 64-bit computers.</span></li>
</ul>
<br>