<div id="loadingScrim" class="palm-scrim">
	<div x-mojo-element="Spinner" id="spinLoading"></div>
</div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left un-capitalize">Preferenze</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Cartella Home</div>
	<div class="palm-list">
        <div class="palm-row single" x-mojo-tap-highlight="momentary" id="homeDir">
        	<div class="palm-row-wrapper">
        		<div class="title">
					<div id="homeLabel"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group unlabeled">
	<div class="palm-list">
        <div class="palm-row single">
			<div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Tema stile</div>
            	<div x-mojo-element="ListSelector" id="selTheme" class="settingsSelector"></div>
            </div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Gestione file</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleHidden"></div>
            	<div class="title left settingsLabel">Mostra nascosti</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Dimensione carattere</div>
            	<div x-mojo-element="ListSelector" id="selFont" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleWrapNames"></div>
           		<div class="title left settingsLabel">Avvolgere i nomi lunghi</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleSwipeDelete"></div>
           		<div class="title left settingsLabel">Spostamento-elimina file</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Ipk gestore</div>
            	<div x-mojo-element="ListSelector" id="selIpk" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientamento</div>
            	<div x-mojo-element="ListSelector" id="selOrientFile" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Visualizzatore di immagini</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
           		<div x-mojo-element="ToggleButton" id="toggleImageCard"></div>
           		<div class="title left settingsLabel">Aprire in una nuova card</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleImageFull"></div>
           		<div class="title left settingsLabel">Schermo intero</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleImageSwipe"></div>
           		<div class="title left settingsLabel">Swipe per cambiare immagine/div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientamento</div>
            	<div x-mojo-element="ListSelector" id="selOrientImage" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Editor di testo</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
           		<div x-mojo-element="ToggleButton" id="toggleEditorCard"></div>
           		<div class="title left settingsLabel">Aprire in una nuova card</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Formattazione nuova linea</div>
            	<div x-mojo-element="ListSelector" id="selNewline" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Dimensione carattere</div>
            	<div x-mojo-element="ListSelector" id="selEditorFont" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleEditorWordWrap"></div>
           		<div class="title left settingsLabel">A capo automatico</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientamento</div>
            	<div x-mojo-element="ListSelector" id="selOrientText" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>

