<div id="loadingScrim" class="palm-scrim"> 
	<div x-mojo-element="Spinner" id="spinLoading"></div>
</div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left un-capitalize">Ustawienia</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Katalog Główny</div>
	<div class="palm-list">
        <div class="palm-row single" x-mojo-tap-highlight="momentary" id="homeDir">
        	<div class="palm-row-wrapper">
        		<div class="title">
					<div id="homeLabel"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group unlabeled">
	<div class="palm-list">
        <div class="palm-row single">
			<div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Styl tematu</div>
            	<div x-mojo-element="ListSelector" id="selTheme" class="settingsSelector"></div>
            </div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Menedżer Plików</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleHidden"></div>
            	<div class="title left settingsLabel">Wyświetl ukryte</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Wielkość czcionki</div>
            	<div x-mojo-element="ListSelector" id="selFont" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleWrapNames"></div>
           		<div class="title left settingsLabel">Zawijania długich nazw</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleSwipeDelete"></div>
           		<div class="title left settingsLabel">Trzepnąć, aby usunąć pliki</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientacja</div>
            	<div x-mojo-element="ListSelector" id="selOrientFile" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Przeglądarka Grafiki</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
           		<div x-mojo-element="ToggleButton" id="toggleImageCard"></div>
           		<div class="title left settingsLabel">Otwórz na nowej karcie</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleImageFull"></div>
           		<div class="title left settingsLabel">Pełny ekran</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleImageSwipe"></div>
           		<div class="title left settingsLabel">Przesuwanie ekranu, aby zmienić zdjęcie</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleImageHandler"></div>
           		<div class="title left settingsLabel">Zarejestruj się jako plik programu obsługi</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientacja</div>
            	<div x-mojo-element="ListSelector" id="selOrientImage" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Edytor Tekstu</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
           		<div x-mojo-element="ToggleButton" id="toggleEditorCard"></div>
           		<div class="title left settingsLabel">Otwórz na nowej karcie</div>
            </div>
        </div>
		<!--<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleEditorAutosave"></div>
           		<div class="title left settingsLabel">Zapisz i zamknij</div>
            </div>
        </div>-->
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Format nowej linii</div>
            	<div x-mojo-element="ListSelector" id="selNewline" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Wielkość czcionki</div>
            	<div x-mojo-element="ListSelector" id="selEditorFont" class="settingsSelector"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleEditorWordWrap"></div>
           		<div class="title left settingsLabel">Zawijania wyrazów</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleEditorHandler"></div>
           		<div class="title left settingsLabel">Zarejestruj się jako plik programu obsługi</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientacja</div>
            	<div x-mojo-element="ListSelector" id="selOrientText" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
	<div class="palm-group-title">Ipk Instalatora</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
           		<div x-mojo-element="ToggleButton" id="toggleIpkCard"></div>
           		<div class="title left settingsLabel">Otwórz na nowej karcie</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleIpkHandler"></div>
           		<div class="title left settingsLabel">Zarejestruj się jako plik programu obsługi</div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title left floatLeft settingsLabel">Orientacja</div>
            	<div x-mojo-element="ListSelector" id="selOrientIpk" class="settingsSelector"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="palm-group unlabeled">
	<div class="palm-list">
        <div class="palm-row single">
			<div class="palm-row-wrapper">
            	<div x-mojo-element="ToggleButton" id="toggleMaster"></div>
           		<div class="title left settingsLabel">Trybie master</div>
            </div>
		</div>
	</div>
</div>
