<div class="palm-header truncating-text">Problem troubleshooter</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	Tap the row below that best describes your problem. If none of them apply, select the last row.
</div>
<hr>
<div class="palm-list">
	<div id="problem1" class="palm-row first" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
		<div class="title" style="padding-left:50px; margin-top:-5px; font-style:italic; font-size:0.9em;">WOSQI won't start up</div>
	</div></div>
	<div class="palm-section-divider">
	<div id="problem2" class="palm-row" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
		<div class="title" style="padding-left:50px; margin-top:-5px; font-style:italic; font-size:0.9em;">Driver installation failed</div>
	</div></div>
	<div class="palm-section-divider">
	<div id="problem3" class="palm-row" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
		<div class="title" style="padding-left:50px; margin-top:-5px; font-style:italic; font-size:0.9em;">"No Devices Found" error</div>
	</div></div>
	<div class="palm-section-divider">
	<div id="problem4" class="palm-row" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
		<div class="title" style="padding-left:50px; margin-top:-5px; font-style:italic; font-size:0.9em;">Feed viewer won't load</div>
	</div></div>
	<div class="palm-section-divider">
	<div id="problem5" class="palm-row" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
		<div class="title" style="padding-left:50px; margin-top:-5px; font-style:italic; font-size:0.9em;">Freezes on package install</div>
	</div></div>
	<div class="palm-section-divider">
	<div id="other" class="palm-row last" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
		<div class="title" style="padding-left:50px; margin-top:-5px; font-style:italic; font-size:0.9em;">Other problem...</div>
	</div></div>
</div>
<hr>