<table style="font-size:0.9em; margin-top:15px; margin-left:5px;"><tr>
	<td style="white-space:nowrap; vertical-align:text-top;"><b>Problem:</b></td>
	<td width="100%">Feed viewer won't load</td>
</tr></table>
<br>
<b style="font-size:0.9em; margin-left:5px;">Possible Solutions:</b>
<ul class="palm-body-text" style="margin-top:6px;">
	<li>Wait for your device to be loaded into the dropdown box in the upper-right area. If you click the blue globe button too quick before it's loaded, there's a slim chance ut'll cause the feed viewer to fail to load.<br>&nbsp;</li>
	<li>Connect to the internet. This problem typically only happens when internet access is unavailable for WOSQI.<br>&nbsp;</li>
	<li>If you're unable to connect to the internet due to a proxy, information on how to use WOSQI with a proxy can be found in the <i>Advanced features</i> section of this app.<br>&nbsp;</li>
</ul>
<div class="palm-body-text" style="position:relative; top:-10px;">
	Problem still not solved? <a href="#" id="notSolved">Click here.</a>
</div><br>