<table style="font-size:0.9em; margin-top:15px; margin-left:5px;"><tr>
	<td style="white-space:nowrap; vertical-align:text-top;"><b>Problem:</b></td>
	<td width="100%">Freezes on package install</td>
</tr></table>
<br>
<b style="font-size:0.9em; margin-left:5px;">Possible Solutions:</b>
<ul class="palm-body-text" style="margin-top:6px;">
	<li>Make sure your device is not in USB Mode. Remember, when you plug in the USB cord, you need to choose Just Charge/Close.<br>
		<table style="margin-top:10px; margin-bottom:10px;"><tbody><tr>
			<td width="50%"><img src="images/setup/device5.png" class="device-image-half"/></td>
			<td width="50%"><img src="images/setup/device6.png" class="device-image-half"/></td>
		</tr></tbody></table></li>
	<li>Restart your device with the USB cord still connected to the computer<br>&nbsp;</li>
	<li>Restart your computer<br>&nbsp;</li>
</ul>
<div class="palm-body-text" style="position:relative; top:-10px;">
	Problem still not solved? <a href="#" id="notSolved">Click here.</a>
</div><br>