<div class="palm-dialog-title" id="title">&nbsp;&nbsp;</div>
<div class="palm-dialog-separator"></div>
<div class="palm-dialog-content">
	<div class="dialog-message" id="message"></div>
	<input class="inputBox" id="textBox" type="text" x-palm-disable-ste-all="true" x-palm-disable-auto-cap="true" x-palm-disable-auto-replace="true" x-palm-title-cap="false" x-palm-enable-emoticons="false">
	<!--<textarea class="inputBox" wrap="off"  id="textBox" rows="1" x-palm-disable-ste-all="true" x-palm-disable-auto-cap="true" x-palm-disable-auto-replace="true" x-palm-title-cap="false" x-palm-enable-emoticons="false"></textarea>-->
</div>
<div class="palm-dialog-buttons center">
	<table border="0" cellpadding="10" width="100%" style="margin: -20px 0 -14px 0;padding:0;">
		<tr>
			<td>
				<div class="dismiss palm-button" id="acceptButton" x-mojo-tap-highlight="momentary"></div>
			</td>
			<td>
				<div class="dismiss palm-button" id="dismissButton" x-mojo-tap-highlight="momentary"></div>
			</td>
		</tr>
	</table>
</div>
