<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left un-capitalize">
			Settings
		</div>
	</div>
</div>
<br>
<div class="palm-group">
	<div class="palm-group-title">Notification Settings</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
            	<div class="title">Check for new articles every:</div>
            	<div x-mojo-element="ListSelector" id="selCheck"></div>
            </div>
        </div>
		<div class="palm-section-divider"></div>
		<div class="palm-row last">
            <div class="palm-row-wrapper">
            	<div class="title floatLeft">Type:</div>
            	<div x-mojo-element="ListSelector" id="selType"></div>
            </div>
        </div>
    </div>
</div>