<div class="palm-page-header multi-line info-header">
	<div class="palm-page-header-wrapper">
		<div class="info-icon" id="icon"></div>
	</div>
</div>
<div class="palm-group unlabeled name-group">
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="name" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-body-text info-text">
	<div id="favourite"></div>
	<div id="size">calculating...</div><br>
	<div id="path"></div><br>
	<div id="symlink-to"></div>
	<div id="attibutes-header"></div>
	<div id="fat32" class="info-checkbox-area">
		<div id="mask">
			<div x-mojo-element="CheckBox" id="cbMask"></div>
		</div>
		<div class="info-checkbox-area-spacer"></div>
		<div id="hidden">
			<div x-mojo-element="CheckBox" id="cbHidden"></div>
		</div>
		<div class="info-checkbox-area-spacer"></div>
		<div id="readonly">
			<div x-mojo-element="CheckBox" id="cbReadonly"></div>
		</div>
	</div>
	<div x-mojo-element="Button" id="btnPermissions"></div>
	<div id="lastmodified"></div>
</div>