<div class="palm-header truncating-text">Preset Reset</div>
<div class="palm-header-spacer"></div>
<div x-mojo-element="ToggleButton" id="enabled" class="palm-dark"></div>
<div class="palm-group">
	<div class="palm-group-title">Schedule</div>
	<div class="weekSpacer"></div>
	<div class="weekBorder"></div>
	<div x-mojo-element="RadioButton" id="sun" class="day sun"></div>
	<div x-mojo-element="RadioButton" id="mon" class="day mon"></div>
	<div x-mojo-element="RadioButton" id="tue" class="day tue"></div>
	<div x-mojo-element="RadioButton" id="wed" class="day wed"></div>
	<div x-mojo-element="RadioButton" id="thu" class="day thu"></div>
	<div x-mojo-element="RadioButton" id="fri" class="day fri"></div>
	<div x-mojo-element="RadioButton" id="sat" class="day sat"></div>
	<div x-mojo-element="TimePicker" id="time"></div>
</div>
<div id="groupSpacer"></div>
<div class="palm-group">
	<div class="palm-group-title">After Reset</div>
	<div x-mojo-element="CheckBox" id="sync"></div>Sync time<br><br>
	<div x-mojo-element="CheckBox" id="off"></div>Turn off screen<br>
	<div x-mojo-element="Button" id="btnList"></div>
</div>