<div class="palm-header truncating-text" id="title"></div>
<div class="palm-header-spacer"></div>
<div x-mojo-element="Scroller" id="scrollerId">
	<div id="folderChooser"></div>
</div>
<br/>
<br/>
<br/>
<table border="0" cellpadding="10" width="100%" id="buttonTable">
	<tr>
		<td align="left">
			<div x-mojo-element="Button" id="btnSelect"></div>
		</td>
		<td align="right">
			<div id="subLabel"></div>
			<div x-mojo-element="Button" id="btnCancel"></div>
		</td>
	</tr>
</table>