<div class="system-notification">
	<table border="0" cellpadding="10" width="100%">
		<tr>
			<td align="left">
				<b>Preset Reset</b><br>
				<div style="font-size:0.85em;" id="numSec">
					Your device is scheduled to reset in 60 seconds.
				</div>
			</td>
			<td align="right">
				<img src="images/icon.png" align="right">
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="10" width="100%" id="buttonTable">
		<tr>
			<td align="left">
				<div x-mojo-element="Button" id="wait"></div>
			</td>
			<td align="right">
				<div x-mojo-element="Button" id="cancel"></div>
			</td>
		</tr>
	</table>
</div>
