<div id="loadingScrim" class="palm-scrim"> 
	<div x-mojo-element="Spinner" id="spinLoading"></div>
	<div id="loadingText" class="label"></div>
</div>
<div class="palm-header truncating-text" id="textTitle"></div>
<div class="palm-header-spacer"></div>
<div x-mojo-element="Scroller" id="textScroller">
	<div id="textContainer" class="editorFrame">
		<div id="text" class="textEditor" x-palm-disable-ste-all="true" x-palm-disable-auto-cap="true" x-palm-disable-auto-replace="true" x-palm-title-cap="false" x-palm-enable-emoticons="false"></div>
	</div>
</div>
<div id='scrollbarbg' style='position: fixed; z-index: 999; background-color: #2e2e2e; width: 5px; height: 70%; top: 15%; right: 1px; opacity: 0.0; -webkit-border-radius: 2px;'>
	<div id='scrollbar' style='position: absolute; z-index: 1000; background-color: lightgray; width: 5px; height: 10%; top: 0%; left: 0px; -webkit-border-radius: 2px;'></div>
</div>
<div id='scrollbarhbg' style='position: fixed; z-index: 999; background-color: #2e2e2e; width: 70%; height: 5px; bottom: 1px; left: 15%; opacity: 0.0; -webkit-border-radius: 2px;'>
	<div id='scrollbarh' style='position: absolute; z-index: 1000; background-color: lightgray; width: 10%; height: 5px; left: 0%; -webkit-border-radius: 2px;'></div>
</div>