<img src="images/backdrop.png" class="backdrop"/>
<div class="borderOverlay"></div>
<div class="header">
	<img src="images/header.png" class="banner"/>
</div>
<div class="header-spacer"></div>
<div class="palm-list">
    <div class="palm-row single" x-mojo-tap-highlight="momentary" id="baseDir">
    	<div class="palm-row-wrapper">
    		<div class="icon up-dir"></div>
			<div class="title truncating-text">
				<div class="nameLabel">..</div>
			</div>
		</div>
	</div>
</div>
<div id="directory-divider"></div>
<div x-mojo-element="List" id="listDir"></div>
<div id="line-between-lists"></div>
<div x-mojo-element="List" id="listFiles"></div>
<div x-mojo-element="List" id="listFilesSwipeDelete"></div>
<div x-mojo-element="Spinner" id="loadingSpinner"></div>
<div id="line-after-lists"></div>
<div id="noResults" class="center nameLabel">
	Nothing found in the comics directory
</div>
