<br>
<div x-mojo-element="Button" id="btnFlash"></div>
<br>
<div class="palm-group" id="group">
	<div class="palm-group-title" x-mojo-loc=''>Brightness</div>
	<div id="currBright" class="dim sliderLabel"></div>
	<div x-mojo-element="Slider" id="sliderScale" class="slider"></div><br>
</div>
<div class="palm-group" id="group2">
	<div class="palm-group-title" x-mojo-loc=''>Strobe</div>
	<div x-mojo-element="CheckBox" id="cbStrobe"></div><div class="dim">Enable</div>
	<div id="drawerStrobe"><br>
		<div id="speedLabel" class="dim sliderLabel">Speed</div>
		<div x-mojo-element="Slider" id="sliderStrobe" class="slider"></div><br>
	</div>
</div>