<div class="palm-header truncating-text">Advanced features</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	Below are a few advanced features contained within WOSQI. Tap a topic header to view the details. More will be added in future updates.
</div>
<table id="divider1" class="palm-divider collapsible" x-mojo-tap-highlight="momentary"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">Transfer files</td>
		<td class="line" width="100%"></td>
		<td><div id="arrow1" class="palm-arrow-closed arrow_button"></div></td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div x-mojo-element="Drawer" id="drawer1">
	<div class="palm-body-text">
		<b>Step 1)</b> If you haven't already, plug in the USB cord and choose Just Charge or Close.<br><br>
		<table><tbody><tr>
			<td width="50%"><img src="images/setup/device5.png" class="device-image-half"/></td>
			<td width="50%"><img src="images/setup/device6.png" class="device-image-half"/></td>
		</tr></tbody></table><br>
		And if WOSQI isn't already running, start it up.<br><br>
		<b>Step 2)</b> Make sure the desired device is selected in the dropdown box in the upper right area, as WOSQI supports multiple devices connected at once.<br><br>
		<img src="images/installing/wosqi1.png" class="computer-image"/><br><br>
		<b>Step 3)</b> Click to open the Tools menu.<br><br>
		<img src="images/advanced/transfer1.png" class="computer-image"/><br><br>
		<b>Step 4)</b> You can choose either the Send File or Receive File option. Both are pretty straightforward and will allow you to send or receive a file to or from your device. That includes hidden system areas that USB Mode doesn't allow.<br><br>
		<img src="images/advanced/transfer2.png" class="computer-image"/><br>
		<img src="images/advanced/transfer3.png" class="computer-image"/>
	</div>
</div>
<table id="divider2" class="palm-divider collapsible" x-mojo-tap-highlight="momentary"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">Using with a proxy</td>
		<td class="line" width="100%"></td>
		<td><div id="arrow2" class="palm-arrow-closed arrow_button"></div></td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div x-mojo-element="Drawer" id="drawer2">
	<div class="palm-body-text">
		<b>Step 1)</b> If you haven't already, plug in the USB cord and choose Just Charge or Close.<br><br>
		<table><tbody><tr>
			<td width="50%"><img src="images/setup/device5.png" class="device-image-half"/></td>
			<td width="50%"><img src="images/setup/device6.png" class="device-image-half"/></td>
		</tr></tbody></table><br>
		<b>Step 2)</b> Open CommandPrompt/Terminal on your computer.<br><br>
		<b>Step 3)</b> Use CommandPrompt/Terminal to navigate to the folder where you have WOSQI saved.<br><br>
		<b>Step 4)</b> To launch WOSQI through a proxy, type the following:<br><br>
		<div x-mojo-element="Scroller" id="scroller1" style="background:rgba(0,0,0,0.1);">
			<div style="padding: 15px 10px 15px 10px; font-family:monospace; white-space:nowrap; width:100%;">java -Dhttp.proxyHost=yourproxyhost -Dhttp.proxyPort=yourproxyport -jar WebOSQuickInstall.jar&nbsp;</div>
		</div><br>
		Replace yourproxyhost with your proxy host, and yourproxyport with the port number for your proxy. For example:<br><br>
		<div x-mojo-element="Scroller" id="scroller2" style="background:rgba(0,0,0,0.1);">
			<div style="padding: 15px 10px 15px 10px; font-family:monospace; white-space:nowrap; width:100%;">java -Dhttp.proxyHost=myproxy.com -Dhttp.proxyPort=80 -jar WebOSQuickInstall.jar&nbsp;</div>
		</div><br>
		Note: if your WOSQI is named something other than WebOSQuickinstall.jar, adjust the above command as needed. 	
	</div>
</div>
<table id="divider3" class="palm-divider collapsible" x-mojo-tap-highlight="momentary"><tbody>
	<tr>
		<td class="left"></td>
		<td class="label">Linux commandline</td>
		<td class="line" width="100%"></td>
		<td><div id="arrow3" class="palm-arrow-closed arrow_button"></div></td>
		<td class="right"></td>
	</tr>
</tbody></table>
<div x-mojo-element="Drawer" id="drawer3">
	<div class="palm-body-text">
		<b>Step 1)</b> If you haven't already, plug in the USB cord and choose Just Charge or Close.<br><br>
		<table><tbody><tr>
			<td width="50%"><img src="images/setup/device5.png" class="device-image-half"/></td>
			<td width="50%"><img src="images/setup/device6.png" class="device-image-half"/></td>
		</tr></tbody></table><br>
		And if WOSQI isn't already running, start it up.<br><br>
		<b>Step 2)</b> Make sure the desired device is selected in the dropdown box in the upper right area, as WOSQI supports multiple devices connected at once.<br><br>
		<img src="images/installing/wosqi1.png" class="computer-image"/><br><br>
		<b>Step 3)</b> Click to open the Tools menu.<br><br>
		<img src="images/advanced/transfer1.png" class="computer-image"/><br><br>
		<b>Step 4)</b> Click the "Linux Commandline" option. A new window will open, giving you full root access to your device's commandline.<br><br>
		<img src="images/advanced/commandline.png" class="computer-image"/><br><br>
	</div>
</div>