[D-BUS Service]
Name=ca.canucksoftware.mplayer
Exec=/usr/bin/luna-helper 'luna://com.palm.vm/launch' '{"serviceName":"ca.canucksoftware.mplayer","className":"ca.canucksoftware.mplayer.LunaService"}'
