<div class="palm-dialog-title" id="errTitle">&nbsp;&nbsp;</div>
<div class="palm-dialog-separator"></div>
<div class="palm-dialog-content">
	<div id="message"></div>
	<div x-mojo-element="Scroller" id="scrollErr">
		<div id="errorText" class="error-text"></div>
	</div>
</table>
</div>
<div class="palm-dialog-buttons center">
	<table border="0" cellpadding="10" width="100%" style="margin: -20px 0 -14px 0;padding:0;">
		<tr>
			<td>
				<div class="dismiss palm-button" id="okButton" x-mojo-tap-highlight="momentary"></div>
			</td>
		</tr>
	</table>
</div>
